
.title{
    font-family: 'Merriweather', serif;
    }
    
    a{
    text-decoration:none;
    transition:0.5s;
    outline:none !important;
    }
    
    li{
    list-style:none;
    }
    
    input, textarea, select, button{
    outline:none !important;
    }
    
    fieldset{
    border:0;
    }
    
    em{
    font-style:normal;
    color:var(--dark);
    }
    
    .btn1, .btn2{
    padding:15px 20px;
    border-radius:40px;
    text-align:center;
    display:inline-block;
    border:0;
    }
    
    .btn1{
    background-color:var(--primary);
    color:var(--white);
    }
    
    .btn1:hover{
    background-color:var(--primarylite);
    }
    
    .btn2{
    background-color:var(--dark);
    color:var(--white);
    }
    
    .btn2:hover{
    background-color:var(--darklite);
    }
    
    @media (max-width:820px){
    .btn1, .btn2{
    padding:10px 15px;
    }
    }
    
    
    #foot{
      position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    }
    
    /*SECTION5*/
    .section5{
    background-color:var(--primary);
    display:flex;
    align-items:center;
    }
    
    .section5 section{
    width:100%;
    padding:2rem 4rem;
    }
    
    .section5 section p{
    color:rgba(1,1,1,0.8);
    }
    
    .section5 section .btn2{
    float:right;
    }
    
    @Media (max-width:1020px){
    .section5{
    display:block;
    }
    .section5 section{
    padding:1rem 1rem;
    text-align:center;
    }
    .section5 section .btn2{
    float:none;
    }
    }
  
    /*FOOTER*/
    .footer{
    background-color:var(--dark);
    width:100%;
    display:flex;
    align-items:top;
    padding:5rem 0;
    }
  
    .footer section{
    padding:1rem 2rem;
    width:100%;
    vertical-align:top;
    }
    
    .footer section h3{
    color:var(--white);
    }
    
    .footer section a{
    color:var(--gray);
    display:flex;
    align-items:center;
    white-space:nowrap;
    margin:15px 0;
    text-decoration: none;
    }
    
    .footer section a:hover{
    color:var(--white);
    }
    
    .footer section:nth-child(2) a:before,.footer section:nth-child(3) a:before{
    font-family:"FontAwesome";
    margin-right:5px;
    color:var(--white);
    }
    
    .footer section a span{
    margin:0 10px;
    }
    
    .sub-footer{
    background-color:#142136;
    text-align:Center;
    color:var(--gray);
    padding:1rem 0;
    }
    
    @media (max-width:1020px){
    .footer{
    display:block;
    }
    .footer section{
    padding:1rem 1rem;
    }
    .footer section:nth-child(2), .footer section:nth-child(3){
    width:49%;
    display:inline-block;
    }
    }
    
    .icons{
      padding-top: 1rem;
  }
  
  .icons a{
      text-decoration: none;
      font-size: 2rem;
      margin: 0.5rem;
      color: #f4f4f4;
  }
  