  
img{
	padding: 0;
    margin-left: 20px;
	height: 60px;
	width: 60px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.nav-item{
	letter-spacing: 4px;
	text-transform: uppercase;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 2em;
  font-size: 14px;
}